<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demokratietag Derksen</title>
</head>
<body>
    <h1>Demokratietag Derksen Software</h1>
    <br>
    <a href="/add"><button>Add Site</button></a>
    <br>
    <a href="/show"><button>Show Site</button></a>
</body>
</html>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(97, 97, 97);
    
    }
    h1 {
        text-align: center;
        color: whitesmoke;
    }
    button {
        
        height: 200px;
        width: 100%;
    
    }
</style>